/***** Pretendard *****/
@font-face {
	font-family:'Pretendard';font-weight:100;font-display:swap;
	src: url(Pretendard-Thin.woff2) format('woff2'),
		url(Pretendard-Thin.woff) format('woff'),
		url(Pretendard-Thin.otf) format('opentype');
}
@font-face {
	font-family:'Pretendard';font-weight:200;font-display:swap;
	src: url(Pretendard-ExtraLight.woff2) format('woff2'),
		url(Pretendard-ExtraLight.woff) format('woff'),
		url(Pretendard-ExtraLight.otf) format('opentype');
}
@font-face {
	font-family:'Pretendard';font-weight:300;font-display:swap;
	src: url(Pretendard-Light.woff2) format('woff2'),
		url(Pretendard-Light.woff) format('woff'),
		url(Pretendard-Light.otf) format('opentype');
}
@font-face {
	font-family:'Pretendard';font-weight:400;font-display:swap;
	src: url(Pretendard-Regular.woff2) format('woff2'),
		url(Pretendard-Regular.woff) format('woff'),
		url(Pretendard-Regular.otf) format('opentype');
}
@font-face {
	font-family:'Pretendard';font-weight:500;font-display:swap;
	src: url(Pretendard-Medium.woff2) format('woff2'),
		url(Pretendard-Medium.woff) format('woff'),
		url(Pretendard-Medium.otf) format('opentype');
}
@font-face {
	font-family:'Pretendard';font-weight:600;font-display:swap;
	src: url(Pretendard-SemiBold.woff2) format('woff2'),
		url(Pretendard-SemiBold.woff) format('woff'),
		url(Pretendard-SemiBold.otf) format('opentype');
}
@font-face {
	font-family:'Pretendard';font-weight:700;font-display:swap;
	src: url(Pretendard-Bold.woff2) format('woff2'),
		url(Pretendard-Bold.woff) format('woff'),
		url(Pretendard-Bold.otf) format('opentype');
}
@font-face {
	font-family:'Pretendard';font-weight:800;font-display:swap;
	src: url(Pretendard-ExtraBold.woff2) format('woff2'),
		url(Pretendard-ExtraBold.woff) format('woff'),
		url(Pretendard-ExtraBold.otf) format('opentype');
}
@font-face {
	font-family:'Pretendard';font-weight:900;font-display:swap;
	src: url(Pretendard-Black.woff2) format('woff2'),
		url(Pretendard-Black.woff) format('woff'),
		url(Pretendard-Black.otf) format('opentype');
}



/***** Montserrat *****/
@font-face {
	font-family:'Montserrat';font-weight:100;font-display:swap;
	src: url(Montserrat-Thin.woff2) format('woff2'),
		url(Montserrat-Thin.woff) format('woff'),
		url(Montserrat-Thin.otf) format('opentype');
}
@font-face {
	font-family:'Montserrat';font-weight:200;font-display:swap;
	src: url(Montserrat-ExtraLight.woff2) format('woff2'),
		url(Montserrat-ExtraLight.woff) format('woff'),
		url(Montserrat-ExtraLight.otf) format('opentype');
}
@font-face {
	font-family:'Montserrat';font-weight:300;font-display:swap;
	src: url(Montserrat-Light.woff2) format('woff2'),
		url(Montserrat-Light.woff) format('woff'),
		url(Montserrat-Light.otf) format('opentype');
}
@font-face {
	font-family:'Montserrat';font-weight:400;font-display:swap;
	src: url(Montserrat-Regular.woff2) format('woff2'),
		url(Montserrat-Regular.woff) format('woff'),
		url(Montserrat-Regular.otf) format('opentype');
}
@font-face {
	font-family:'Montserrat';font-weight:500;font-display:swap;
	src: url(Montserrat-Medium.woff2) format('woff2'),
		url(Montserrat-Medium.woff) format('woff'),
		url(Montserrat-Medium.otf) format('opentype');
}
@font-face {
	font-family:'Montserrat';font-weight:600;font-display:swap;
	src: url(Montserrat-SemiBold.woff2) format('woff2'),
		url(Montserrat-SemiBold.woff) format('woff'),
		url(Montserrat-SemiBold.otf) format('opentype');
}
@font-face {
	font-family:'Montserrat';font-weight:700;font-display:swap;
	src: url(Montserrat-Bold.woff2) format('woff2'),
		url(Montserrat-Bold.woff) format('woff'),
		url(Montserrat-Bold.otf) format('opentype');
}
@font-face {
	font-family:'Montserrat';font-weight:800;font-display:swap;
	src: url(Montserrat-ExtraBold.woff2) format('woff2'),
		url(Montserrat-ExtraBold.woff) format('woff'),
		url(Montserrat-ExtraBold.otf) format('opentype');
}
@font-face {
	font-family:'Montserrat';font-weight:900;font-display:swap;
	src: url(Montserrat-Black.woff2) format('woff2'),
		url(Montserrat-Black.woff) format('woff'),
		url(Montserrat-Black.otf) format('opentype');
}