/***** Pretendard *****/
@font-face {
	font-family:'Pretendard';font-weight:100;font-display:swap;
	src: url(Pretendard-Thin.woff2) format('woff2'),
		url(Pretendard-Thin.woff) format('woff'),
		url(Pretendard-Thin.otf) format('opentype');
}
@font-face {
	font-family:'Pretendard';font-weight:200;font-display:swap;
	src: url(Pretendard-ExtraLight.woff2) format('woff2'),
		url(Pretendard-ExtraLight.woff) format('woff'),
		url(Pretendard-ExtraLight.otf) format('opentype');
}
@font-face {
	font-family:'Pretendard';font-weight:300;font-display:swap;
	src: url(Pretendard-Light.woff2) format('woff2'),
		url(Pretendard-Light.woff) format('woff'),
		url(Pretendard-Light.otf) format('opentype');
}
@font-face {
	font-family:'Pretendard';font-weight:400;font-display:swap;
	src: url(Pretendard-Regular.woff2) format('woff2'),
		url(Pretendard-Regular.woff) format('woff'),
		url(Pretendard-Regular.otf) format('opentype');
}
@font-face {
	font-family:'Pretendard';font-weight:500;font-display:swap;
	src: url(Pretendard-Medium.woff2) format('woff2'),
		url(Pretendard-Medium.woff) format('woff'),
		url(Pretendard-Medium.otf) format('opentype');
}
@font-face {
	font-family:'Pretendard';font-weight:600;font-display:swap;
	src: url(Pretendard-SemiBold.woff2) format('woff2'),
		url(Pretendard-SemiBold.woff) format('woff'),
		url(Pretendard-SemiBold.otf) format('opentype');
}
@font-face {
	font-family:'Pretendard';font-weight:700;font-display:swap;
	src: url(Pretendard-Bold.woff2) format('woff2'),
		url(Pretendard-Bold.woff) format('woff'),
		url(Pretendard-Bold.otf) format('opentype');
}
@font-face {
	font-family:'Pretendard';font-weight:800;font-display:swap;
	src: url(Pretendard-ExtraBold.woff2) format('woff2'),
		url(Pretendard-ExtraBold.woff) format('woff'),
		url(Pretendard-ExtraBold.otf) format('opentype');
}
@font-face {
	font-family:'Pretendard';font-weight:900;font-display:swap;
	src: url(Pretendard-Black.woff2) format('woff2'),
		url(Pretendard-Black.woff) format('woff'),
		url(Pretendard-Black.otf) format('opentype');
}



/***** Outfit *****/
@font-face {
	font-family:'Outfit';font-weight:100;font-display:swap;
	src: url(Outfit-Thin.woff2) format('woff2'),
		url(Outfit-Thin.woff) format('woff'),
		url(Outfit-Thin.otf) format('opentype');
}
@font-face {
	font-family:'Outfit';font-weight:200;font-display:swap;
	src: url(Outfit-ExtraLight.woff2) format('woff2'),
		url(Outfit-ExtraLight.woff) format('woff'),
		url(Outfit-ExtraLight.otf) format('opentype');
}
@font-face {
	font-family:'Outfit';font-weight:300;font-display:swap;
	src: url(Outfit-Light.woff2) format('woff2'),
		url(Outfit-Light.woff) format('woff'),
		url(Outfit-Light.otf) format('opentype');
}
@font-face {
	font-family:'Outfit';font-weight:400;font-display:swap;
	src: url(Outfit-Regular.woff2) format('woff2'),
		url(Outfit-Regular.woff) format('woff'),
		url(Outfit-Regular.otf) format('opentype');
}
@font-face {
	font-family:'Outfit';font-weight:500;font-display:swap;
	src: url(Outfit-Medium.woff2) format('woff2'),
		url(Outfit-Medium.woff) format('woff'),
		url(Outfit-Medium.otf) format('opentype');
}
@font-face {
	font-family:'Outfit';font-weight:600;font-display:swap;
	src: url(Outfit-SemiBold.woff2) format('woff2'),
		url(Outfit-SemiBold.woff) format('woff'),
		url(Outfit-SemiBold.otf) format('opentype');
}
@font-face {
	font-family:'Outfit';font-weight:700;font-display:swap;
	src: url(Outfit-Bold.woff2) format('woff2'),
		url(Outfit-Bold.woff) format('woff'),
		url(Outfit-Bold.otf) format('opentype');
}
@font-face {
	font-family:'Outfit';font-weight:800;font-display:swap;
	src: url(Outfit-ExtraBold.woff2) format('woff2'),
		url(Outfit-ExtraBold.woff) format('woff'),
		url(Outfit-ExtraBold.otf) format('opentype');
}
@font-face {
	font-family:'Outfit';font-weight:900;font-display:swap;
	src: url(Outfit-Black.woff2) format('woff2'),
		url(Outfit-Black.woff) format('woff'),
		url(Outfit-Black.otf) format('opentype');
}

